@import 'variables';

.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoUl {
  padding: 0 20px;
}

.todoLi,
.todoNoData {
  margin: auto;
  max-width: 600px;
  cursor: pointer;
  list-style: none;
}

.todoLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border: 1px solid $white;

  &[data-active='true'] {
    text-decoration: line-through;
    color: $gray;
    background-color: $white;
  }
}

.todoNoData {
  border: 1px solid $darkGray;
  color: $darkGray;
}

.todoCheckedBlock {
  display: flex;
  align-items: center;
}
